<div class="contents">
  <div class="first-view">
    <img src="assets/Culture.jpeg" alt="トップ画面" class="top-image" >
  </div>
  <div class="boards-wrap">
    <div class="boards-text">
      <h2>【Culture一覧】</h2>
    </div>
  </div>
</div>
