.contents {
  background-color: #EEEEEE;
  position: relative;
}

.first-view{
  height: 60vh;
} 

.top-image{
  height: 100%;
  width: 100%;
  background-image: image-url('Culture.jpg');
}

.board-wrap {
 text-align: center;
 font-size: 20px;
}

.board-index-text {
  padding: 10px;
}

.board-contents {
  background-color: #EEEEEE;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4vh 0;
}

.board-lists {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.board-lists>.list {
  width: 50vh;
  padding: 40px;
  margin-bottom: 40px;
}

.board-img-content {
  position: relative;
  left: 10%;
}

.board-index-img {
  width: 40vh;
  height: 40vh;
  border-radius: 5px;
}

.board-name {
  color: #333;
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.board-btn {
  width: 120px;
  background: #0000CC;
  text-align: center;
  border-radius: 5px;
  bottom: 90px;
  right: 32px;
  position: fixed;
  padding: 15px;
  z-index:2;
}

.board-btn-text {
  color: #FF773E;
  font-weight: bold;
  display: block;
  font-size: 20px;
  text-decoration: none;
  margin-bottom: 5px;
}

li {
  list-style: none; 
}