.contents {
  background-color: #EEEEEE;
  position: relative;
}

.first-view{
  height: 60vh;
} 

.top-image{
  height: 100%;
  width: 100%;
}

.board-wrap {
 text-align: center;
 font-size: 20px;
 height: 100vh;
}

.board-text {
  padding: 15px;
}

.board-btn {
  width: 120px;
  background: #C299FF;
  text-align: center;
  border-radius: 4%;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 15px;
  z-index:2;
}

.board-btn-text {
  color: #FFFF00;
  font-weight: bold;
  display: block;
  font-size: 20px;
  text-decoration: none;
  margin-bottom: 5px;
}
