.board-show-contents {
  background-color: #f8f8f8;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 0;
}

.board-show-box {
  width: 70vw;
  padding: 5vh 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board-show-img {
  height: 50vh;
  width: 50vw;
  min-height: 500px;
  object-fit: contain;
}

.edit-delete-btn {
  font-size: 18px;
  display: flex;
  margin: 35px;
}
.board-show-edit {
  font-weight: bold;
  background-color: #0000CC;
  border: 1px solid #0000CC;
  border-radius: 5px;
  padding: 10px 50px;
  margin-right: 60px;
}

.board-show-delete {
  font-weight: bold;
  background-color: #0000CC;
  border: 1px solid #0000CC;
  border-radius: 5px;
  padding: 10px 50px;
}

.detail-table {
  margin-top: 40px;
  width: 70%;
  height: 100%;
}

.detail-board {
  width: 10%;
  color: #FF773E;
  background-color: #0000CC;
  border: 1px solid #0000CC;
  font-size: 16px;
  text-align: center;
}

.detail-value {
  width: 30%;
  padding: 20px;
  border: 1px solid #dedede;
  font-size: 14px;
}

.large-detail-table {
  margin-bottom: 5px;
  width: 70%;
  height: 150px;
}

.detail-board-content {
  width: 10%;
  height: 50%;
  color: #FF773E;
  background-color: #0000CC;
  border: 1px solid #0000CC;
  font-size: 16px;
  text-align: center;
}

.detail-value-information {
  width: 30%;
  height: 50%;
  padding: 10px;
  border: 1px solid #dedede;
  font-size: 14px;
}

.comment-wrap {
  width: 70%;
  height: 70vh;
  margin-bottom: 30px;
  padding: 30px;
  box-shadow: 0 0 10px rgba(41, 41, 41, 0.2);
  background-color: white;
  box-sizing: border-box;
}

.comment-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

 textarea {
  width: 63vw;
  height: 10vh;
  margin: 5px 0 15px 0;
  padding: 10px;
  border: 1px solid #D8D8D8;
  border-radius: 5px;
  resize: none;
}

.comment-btn {
  width: 50%;
  height: 50px;
  background-color: #0000CC;
  border-radius: 5px;
  color: #FF773E;
  border: 0;
  font-size: 18px;
  margin-bottom: 20px;
}

input.comment-btn:hover {
  opacity: 0.8;
}

.comments a:hover {
  opacity: 0.8;
}

.comment-caution-text p {
  color: red;
  text-align: center ;
}


.show-back-btn {
  background: #aaa;
  border: 1px solid #aaa;
  color: #fff;
  padding: 15px 10%;
  text-decoration: none;
  margin: 8vh auto;
} 