.profile-wrap {
  display: flex;
  height: 85vh;
}

.profile-left {
  width: 15vw;
  background-color: #0000CC;
  border: 1px solid #0000CC;
}

.profile-lists {
  height: 50px;
  border-bottom: 1px solid #EEEEEE;
  display: flex;
  align-items: center;
  padding-left: 15px;
}
.profile-list {
 font-weight: bold;
}


.profile-right {
  width: 85vw;
  background-color: #EEEEEE;
}
.profile-text {
  font-size: 25px;
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
}
.posted-lists {
  width: 80vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 30px;
}

.posted-lists>.list {
  width: 50vh;
  padding: 40px;
  margin-bottom: 40px;
}




